# Archivos del sistema
.DS_Store
Thumbs.db

# Entornos virtuales
venv/
.env/
.envrc

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Configuración local
*.log
*.sqlite3
*.db

# Archivos sensibles o temporales
*.env
*.bak
*.swp

# VSCode
.vscode/

# Archivos de datasets grandes
/data/
*.csv
*.tsv
*.json

# Build de Flask
instance/
*.egg-info/
dist/
build/

# Archivos de compilación
*.out
*.exe
*.o

# Archivos de test
coverage/
htmlcov/

# Git
*.orig
